<form
  class="form card text-primary-blue"
  (submit)="uploadProduct()"
  #productForm="ngForm"
>
  <h2>Post your product here .</h2>
  <div class="form-group">
    <label for="title">Item Name : </label>
<div class="input-control">
  <input
  type="text"
  class="form-control"
  name="product_name"
  [(ngModel)]="product.title"
  required
  #product_name="ngModel"
/>
<div
  class="alert alert-danger"
  *ngIf="product_name.invalid && product_name.touched"
>
  Product can't be empty
</div>
</div>
   
  </div>
  <div class="form-group">
    <label for="price">Price : $</label>
    <input
      type="text"
      class="form-control input-control"
      name="product_price"
      [(ngModel)]="product.price"
      required
    />
  </div>
  <div class="form-group">
    <label for="category">Category : </label>
    <select name="product_category" [(ngModel)]="product.category">
      <option value="" hidden selected>Choose A Category</option>
      <option *ngFor="let category of categories_select" [value]="category">
        {{ category }}
      </option>
    </select>
  </div>
  <div class="">
    <label for="description">Describe Your Product : </label>
    <textarea
      type="text"
      class="form-control"
      name="product_description"
      [(ngModel)]="product.description"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="image">Upload a photo of your product</label>
    <input
      type="file"
      accept="image/*"
      (change)="onFileInputChange($event)"
      name="product_img_path"
      [(ngModel)]="product.image"
    />
  </div>
  <button type="submit" class="btn btn-primary">Post Product</button>
  <div class="alert alert-success" *ngIf="uploaded">Your product is listed for sale ! </div>
</form>
