<div class="profile-container" *ngIf="user">
  <div class="left-side">
    <h2>{{ user.displayName }}'s cart</h2>
    <div class="cart-container">
      <app-shopping-list-item
        *ngFor="let item of cartItems"
        [product]="item.data"
        [cartServiceid]="item.id"
      ></app-shopping-list-item>
    </div>
  </div>

  <div class="right-side">
    <h3><b>receipt</b></h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>product</th>
          <th>cost</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of cartItems">
          <td>{{ product.data.title }}</td>
          <td>${{ product.data.price }}</td>
        </tr>
      </tbody>
      <tfoot >
        <tr class="table-primary" >
          <td>Total</td>
          <td>${{totalCost}}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
